

@{
    ViewBag.Title = "newCategory";
    Layout = "~/Views/Account/_MainLayout.cshtml";
}



<h2>Yeni Kategori Ekle</h2>

<form class="form-group" method="post" action="Index">

    <div>
        <label>Yeni Kategori Adı</label>
        <input type="text" class="form-control" name="categoryName" />
    </div>
   
    <div>

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Film/Dizi Ekle</button>
    </div>

</form>
